<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.2.0</key>
	<array>
		<dict>
			<key>Order</key>
			<string>0</string>
			<key>Title</key>
			<string>whats_new.1_2_0.0.title</string>
			<key>Image</key>
			<string></string>
			<key>Description</key>
			<string>whats_new.1_2_0.0.description</string>
			<key>AccessibilityDescription</key>
			<string>whats_new.1_2_0.0.description</string>
		</dict>
		<dict>
			<key>Order</key>
			<string>1</string>
			<key>Title</key>
			<string>whats_new.1_2_0.1.title</string>
			<key>Image</key>
			<string></string>
			<key>Description</key>
			<string>whats_new.1_2_0.1.description</string>
			<key>AccessibilityDescription</key>
			<string>whats_new.1_2_0.1.description</string>
		</dict>
		<dict>
			<key>Order</key>
			<string>2</string>
			<key>Title</key>
			<string>whats_new.1_2_0.2.title</string>
			<key>Image</key>
			<string></string>
			<key>Description</key>
			<string>whats_new.1_2_0.2.description</string>
			<key>AccessibilityDescription</key>
			<string>whats_new.1_2_0.2.description</string>
		</dict>
	</array>
</dict>
</plist>
